@import url('/assets/style/reset.css');

body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url('/assets/images/bgimg.jpg') center center/cover;
}

.logo {
  width: 50vw;
}

.buttons {
  display: flex;
  justify-content: center;
}
.buttons img {
  height: 5vh;
}
.buttons h1 {
  margin: 0 3rem;
}
#widthcontainer,
#heightcontainer {
  display: flex;
  align-items: center;
  padding: 10rem;
}
